<app-container>
    <app-list-pieces (isEditEvent)="changeIsEdit($event)" (messageEvent)="changeSelectedId($event)"></app-list-pieces>
</app-container>

    <!-- Modales tanto de logout como para visualizar algo -->
    <app-modal class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
        [tittle]="'Logout'" [action]="'Logout'" [link_action]="'logout.html'">
        <p>¿Desea retirarse?</p>
    </app-modal>

    <app-modal class="modal fade" id="pieceInfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
        [tittle]="'Información pieza'" [action]="'Listo'" [link_action]="'#'">
        <app-piece-information [id]="selectedId"></app-piece-information>
    </app-modal>

    <app-modal class="modal fade" id="pieceFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
        [tittle]="'Formulario pieza'" [action]="'Guardar'" [link_action]="''">
        <app-piece-form [isEdit]="isEdit"  [selectedId]="selectedId"></app-piece-form>
    </app-modal>