<form [formGroup]="clientForm">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-2">
                <label for="clientNit">Nit</label>
                <input (change)="searchClient($event)" formControlName="clientNit" type="number" class="form-control" id="clientNit">
            </div>
            <div class="col-lg-4">
                <label for="clientFullName">Nombre completo del cliente</label>
                <input (change)="updateClientFullName($event)" formControlName="clientFullName" type="text" class="form-control" id="clientFullName"
                value="{{client!=undefined? client.name:''}}">
            </div>
            <div class="col-lg-6">
                <label for="clientAddress">Direccion</label>
                <input (change)="updateClientAddress($event)" formControlName="clientAddress" type="text" class="form-control" id="clientAddress"
                value="{{client!=undefined? client.address:''}}">
            </div>
        </div>
    </div>
</form>