<form [formGroup]="clientForm">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-2">
                <label for="clientNit">Nit</label>
                <input formControlName="clientNit" type="number" class="form-control" id="clientNit">
            </div>
            <div class="col-lg-4">
                <label for="clientFullName">Nombre completo del cliente</label>
                <input formControlName="clientName" type="text" class="form-control" id="clientName">
            </div>
            <div class="col-lg-6">
                <label for="clientAddress">Direccion</label>
                <input formControlName="clientAddress" type="text" class="form-control" id="clientAddress">
            </div>
        </div>
    </div>
    <br>
</form>