<app-container>

    <!-- Page Heading -->
    <!-- OPCION 1 Heading-->
    <h1 class="h3 mb-4 text-gray-800">Categorias</h1>
    <!-- OPCION 2 Heading-->
    <!-- CONTENDIDO -->
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-6">
            <app-search (search)="getCategoriesByName($event)"></app-search>
        </div>
        <br><br>
        <div class="col-lg-12">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-auto">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Pieces</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Settings</div>
                            <a class="dropdown-item" data-toggle="modal" [attr.data-target]="'#categoryCreateModal'" style="cursor: pointer;">Add new category</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">

                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Name</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>id</th>
                                    <th>Name</th>
                                    <th>Remove</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let item of categories ">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>
                                      <app-actions
                                        (messageEvent)="changeSelectedId($event)"
                                        [model]="'category'"
                                        [id]="item.id"
                                        [deleteModalId]="'confirmCategoryDeleteModal'">
                                      </app-actions>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item active">

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para confirmar la eliminación de una catergoria -->
    <app-modal class="modal fade" id="confirmCategoryDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
               [tittle]="'Eliminar categoria'">
      <div class="modal-body">
        <h4>¿Seguro que desea elminar las categorias?</h4>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteCategory()" data-dismiss="modal">Si</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </app-modal>


    <app-modal class="modal fade" id="categoryCreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
        [tittle]="''">
        <app-create-category-piece (Cat)="this.categories.push($event)"></app-create-category-piece>
    </app-modal>

</app-container>



