<app-container>
    
                    <!-- Page Heading -->

                    <!-- OPCION 1 Heading-->
                    <h1 class="h3 mb-4 text-gray-800">Listado de muebles</h1>
                    <!-- OPCION 2 Heading-->
                    <!-- CONTENDIDO -->
                    <!-- Content Row -->
                    
                    <div class="row">
                        
                            <form [formGroup]="formFilter" (ngSubmit)="filterFurnitures()" class="container">
                                <div class="row">
                                  <div class="col-lg-3">
                                    <label for="staticEmail" >Fecha inicio</label>
                                    <input class="form-control" type="date" [ngModel]='date| date:"yyyy-MM-dd" ' formControlName="dateStart" id="">
                                  </div>
                                  <div class="col-lg-3">
                                      <label for="staticEmail" >Fecha fin</label>
                                    <input type="date" class="form-control" [ngModel]='date| date:"yyyy-MM-dd" ' formControlName="dateEnd" name="dateEnd" id="">
                                  </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <select formControlName="order"  class="form-control">
                                             <option value="" selected disabled hidden>Orden</option>
                                            <option value="0" selected="selected">Mayor a menor</option>
                                            <option value="1">Menor a mayor</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="submit" class="btn btn-primary" value="Buscar">
                                    </div>
                                </div>
                                <br>
                            </form >
                        
                        <br><br>
                        <div class="col-lg-12">
                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-auto">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Muebles</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Settings</div>
                                            <a class="dropdown-item" href="">Add new category</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                        <div class="row">
                                            
                                        </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr *ngFor="let item of furnitures ">
                                                    <td>{{item.id}}</td>
                                                    <td>{{item.title}}</td>
                                                    <td>{{item.description}}</td>
                                                    <td><app-actions 
                                                        (messageEvent)="changeSelectedId($event)" [model]="'furniture'" [id]="item.id" 
                                                        [infModalId]="'furnitureInfModal'"
                                                        [formModalId]="'furnitureFormModal'"
                                                        [deleteModalId]="'furnitureDeleteModal'"></app-actions></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item active">
                                                    
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
</app-container>



    <!-- Modales tanto de logout como para visualizar algo -->
    <app-modal class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
        [tittle]="'Logout'" [action]="'Logout'" [link_action]="'logout.html'">
        <p>¿Desea retirarse?</p>
    </app-modal>

    <app-modal class="modal fade" id="furnitureInfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
        [tittle]="'Información mueble'" [action]="'Listo'" [link_action]="'#'">
        <app-furniture-information [id]="selectedId"></app-furniture-information>
    </app-modal>
