<app-container>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Consultar Facturas</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <form [formGroup]="formInvoices" class="user">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-sm-8 mb-3 mb-sm-0">
                                <input 
                            formControlName="noInvoices" 
                            [class.inp-invalid]="formInvoices.get('noInvoices')?.errors && formInvoices.get('noInvoices')?.touched" 
                            type="text" class="form-control form-control-user" id="exampleFirstName"
                                placeholder="No. Factura">
                            </div>
                            <div class="col-sm-4">
                                <a (click)="searchInvoices()" class="btn btn-primary btn-icon-split" style="transform:  translateY(5px);">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-search"></i>
                                    </span>
                                    <span class="text">Consultar Factura</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <label *ngIf="isExistInvoices" style="text-align: center; color: red; margin-bottom: 10px;">{{msjError}}</label>
            </div>
        </div>
    </div>
    
    <div class="card shadow mb-4" *ngIf="listBillDetail.length>0">
        <!-- Card Header - Accordion -->
        <a (click)="openCont()" class="d-block card-header py-3"
         [class.collapsed]="!openContent" 
        data-toggle="collapse"
            role="button" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Datos de la Factura {{listBillDetail[0].bill?.id}}</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" [class.show]="openContent" id="collapseCardExample">
            <div class="card-body">
                <h6 class="m-0 font-weight-normal text-primary">Cliente</h6>
                <div class="card shadow mb-3">
                    <div class="collapse show" id="collapseCardExample">
                        <div class="card-body">
                            <div>
                                <label style="width: 45%;">Nit: {{(listBillDetail.length>0)? listBillDetail[0].bill?.client?.id : ""}}</label>
                                <label style="width: 45%;">Nombre: {{(listBillDetail.length>0)? listBillDetail[0].bill?.client?.name : ""}}</label>
                                <label style="width: 45%;">Direccion: {{(listBillDetail.length>0)? listBillDetail[0].bill?.client?.address : ""}}</label>
                                <label style="width: 45%;">Fecha: {{(listBillDetail.length>0)? listBillDetail[0].bill?.dateTime : ""}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="m-0 font-weight-normal text-primary">Productos</h6>
                <div class="card shadow mb-4">
                    <div class="collapse show" id="collapseCardExample">
                        <div class="card-body">
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Producto</th>
                                                <!-- <th>Cantidad</th> -->
                                                <th>Precio</th>
                                                <!-- <th>SubTotal</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of listBillDetail; let i = index">
                                                <td>{{item.id}}</td>
                                                <td>{{item.furniture?.name}}</td>
                                                <td>{{item.priceSale}}</td>
                                                <!-- <td>{{item.}}</td>
                                                <td>{{item.}}</td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-hover" width="100%" cellspacing="0">
                                        
                                        <tbody>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td>Total: </td>
                                                <td>$ {{listBillDetail[0].bill?.total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination" style="justify-content: center;">
                                        <li class="paginate_button page-item previous" [class.disabled]="(paginate.pageable.pageNumber==0)"
                                        style="cursor: pointer;">
                                            <a (click)="prevPage()" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                        </li>
                                        <li *ngFor="let item of counter(paginate.totalPages); let i = index;" class="paginate_button page-item"
                                        [class.active]="i==paginate.pageable.pageNumber" style="cursor: pointer;" >
                                            <a (click)="setPage(i)" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{i+1}}</a>
                                        </li>
                                        <li class="paginate_button page-item next" id="dataTable_next" style="cursor: pointer;"  [class.disabled]="(paginate.pageable.pageNumber==paginate.totalPages-1)">
                                            <a (click)="nextPage()" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- <label style="width: 45%;"> </label> -->
                                <!-- <label style="width: 80%; text-align: right;">Total: </label>
                                <label style="width: 2%; text-align: right;"></label>
                                <label style="width: 17%; text-align: left;">13242314</label> -->
                                <!-- <label style="width: 45%;">Nombre: </label>
                                <label style="width: 45%;">Apellidos: </label> -->
                                <!-- <label style="width: 45%;">Amount: </label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</app-container>
