<div class="row">
    <br><br>
    <div class="col-lg-12">
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-auto">
            <!-- Card Body -->
            <div class="container-fluid">
              <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <ng-container *ngIf="_reportType==1; else second">
                        <tr>
                            <th>No. </th>
                            <th>Cliente</th>
                            <th>Code Mueble</th>
                            <th>Mueble</th>
                            <th>Precio</th>
                            <th>Fecha</th>
                        </tr>
                      </ng-container>
                      <ng-template #second>
                        <ng-container *ngIf="_reportType==2; else third">
                          <tr>
                              <th>Mueble</th>
                              <th>Precio venta</th>
                              <th>Costo</th>
                              <th>Fecha devolucion</th>
                              <th>Nit cliente</th>
                          </tr>
                        </ng-container>
                        <ng-template #third>
                          <ng-container *ngIf="_reportType==3; else fourth">
                            <tr>
                                <th>No. </th>
                                <th>Factura</th>
                                <th>Code Mueble</th>
                                <th>Mueble</th>
                                <th>Precio Total</th>
                                <th>Perdida</th>
                                <th>Costo</th>
                                <th>Ganancia</th>
                            </tr>
                          </ng-container>
                          <ng-template #fourth>
                            <ng-container *ngIf="_reportType==4; else fifth">
                              <tr>
                                  <th>No.</th>
                                  <th>Code Mueble</th>
                                  <th>Nombre</th>
                                  <th>Fecha Creacion</th>
                                  <th>Precio</th>
                                  <th>Cantidad</th>
                              </tr>
                            </ng-container>
                            <ng-template #fifth>
                              <ng-container *ngIf="_reportType==5; else sixth">
                                <tr>
                                  <th>No.dd</th>
                                  <th>Code Mueble</th>
                                  <th>Nombre</th>
                                  <th>Fecha Creacion</th>
                                  <th>Precio</th>
                                  <th>Cantidad</th>
                                </tr>
                              </ng-container>
                              <ng-template #sixth>
                                <ng-container *ngIf="_reportType==6; else seventh">
                                  <tr>
                                    <th>Id usuario</th>
                                    <th>No. ventas</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                  </tr>
                                </ng-container>
                                <ng-template #seventh>
                                  <ng-container *ngIf="_reportType==7; else eigth">
                                    <tr>
                                      <th>Id usuario</th>
                                      <th>Ingresos netos</th>
                                      <th>Nombre</th>
                                      <th>Apellido</th>
                                    </tr>
                                  </ng-container>
                                  <ng-template #eigth>
                                    <tr>
                                        <th>Any report selected, no tittles</th>
                                    </tr>
                                  </ng-template>
                                </ng-template>
                              </ng-template>
                            </ng-template>
                          </ng-template>
                        </ng-template>
                      </ng-template>
                  </thead>
                  <tbody>
                    
                    <ng-container *ngIf="_reportType==1; else secondContent">
                      <tr *ngFor="let item of items ; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{item.bill?.client?.name}}</td>
                          <td>{{item.furniture?.code}}</td>
                          <td>{{item.furniture?.name}}</td>
                          <td>{{item.priceSale}}</td>
                          <td>{{item.bill?.dateTime}}</td>
                      </tr>
                    </ng-container>
                    <ng-template #secondContent>
                      <ng-container *ngIf="_reportType==2; else thirdContent">
                        <tr *ngFor="let item of items2">
                            <td>{{item[0]}}</td>
                            <td>{{item[3]}}</td>
                            <td>{{item[1]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[4]}}</td>
                        </tr>
                      </ng-container>
                      <ng-template #thirdContent>
                        <ng-container *ngIf="_reportType==3; else fourthContent">
                          <tr *ngFor="let item of items; let i = index">
                            <td>{{i+1}}</td>
                              <td>{{item.bill?.id}}</td>
                              <td>{{item.furniture?.code}}</td>
                              <td>{{item.furniture?.name}}</td>
                              <td>{{item.priceSale}}</td>
                              <td>{{item.costLost}}</td>
                              <td>{{item.furniture?.cost}}</td>
                              <td>{{item.priceSale - (item.costLost + item.furniture?.cost)}}</td>
                          </tr>
                        </ng-container>
                        <ng-template #fourthContent>
                          <ng-container *ngIf="_reportType==4; else fifthContent">
                            <tr *ngFor="let item of items ; let i = index">
                              <td>{{i+1}}</td>
                              <td>{{item.code}}</td>
                              <td>{{item.name}}</td>
                              <td>{{item.creationDate}}</td>
                              <td>{{item.price}}</td>
                              <td>{{item.amount}}</td>
                            </tr>
                          </ng-container>
                          <ng-template #fifthContent>
                            <ng-container *ngIf="_reportType==5; else sixthContent">
                              <tr *ngFor="let item of items ; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.code}}</td>
                                  <td>{{item.name}}</td>
                                  <td>{{item.creationDate}}</td>
                                  <td>{{item.price}}</td>
                                  <td>{{item.amount}}</td>
                              </tr>
                            </ng-container>
                            <ng-template #sixthContent>
                              <ng-container *ngIf="_reportType==6; else seventhContent">
                                <tr *ngFor="let item of items ; let i = index">
                                    <td>{{item[0]}}</td>
                                    <td>{{item[1]}}</td>
                                    <td>{{item[2]}}</td>
                                    <td>{{item[3]}}</td>
                                </tr>
                              </ng-container>
                              <ng-template #seventhContent>
                                <ng-container *ngIf="_reportType==7; else eightContent">
                                  <tr *ngFor="let item of items ; let i = index">
                                      <td>{{item[0]}}</td>
                                      <td>{{item[1]}}</td>
                                      <td>{{item[2]}}</td>
                                      <td>{{item[3]}}</td>
                                  </tr>
                                </ng-container>
                                <ng-template #eightContent>
                                  <tr *ngFor="let item of items">
                                      <td>NO HAY DATA PARA UN REPORTE QUE NO EXISTE</td>
                                  </tr>
                                </ng-template>
                              </ng-template>
                            </ng-template>
                          </ng-template>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>
</div>