<div class="row">
    <br><br>
    <div class="col-lg-12">
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-auto">
            <!-- Card Body -->
            <div class="container-fluid">
              <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <ng-container *ngIf="_reportType==1; else second">
                        <tr>
                            <th>Id report 1</th>
                            <th>title report 1</th>
                            <th>title report 1</th>
                        </tr>
                      </ng-container>
                      <ng-template #second>
                        <ng-container *ngIf="_reportType==2; else third">
                          <tr>
                              <th>Id</th>
                              <th>title report 2</th>
                              <th>title report 2</th>
                              <th>title report 2</th>
                          </tr>
                        </ng-container>
                        <ng-template #third>
                          <ng-container *ngIf="_reportType==3; else fourth">
                            <tr>
                                <th>Id report 3</th>
                                <th>title report 3</th>
                                <th>title report 3</th>
                                <th>title report 3</th>
                                <th>title report 3</th>
                            </tr>
                          </ng-container>
                          <ng-template #fourth>
                            <ng-container *ngIf="_reportType==4; else fifth">
                              <tr>
                                  <th>Id report 4</th>
                                  <th>title report 4</th>
                                  <th>title report 4</th>
                                  <th>title report 4</th>
                                  <th>title report 4</th>
                                  <th>title report 4</th>
                              </tr>
                            </ng-container>
                            <ng-template #fifth>
                              <tr>
                                  <th>Any report selected, no tittles</th>
                              </tr>
                            </ng-template>
                          </ng-template>
                        </ng-template>
                      </ng-template>
                  </thead>
                  <tbody>
                    
                    <ng-container *ngIf="_reportType==1; else secondContent">
                      <tr *ngFor="let item of items">
                          <td>{{item.value1}}</td>
                          <td>{{item.value2}}</td>
                          <td>{{item.value3}}</td>
                      </tr>
                    </ng-container>
                    <ng-template #secondContent>
                      <ng-container *ngIf="_reportType==2; else thirdContent">
                        <tr *ngFor="let item of items">
                            <td>{{item.value1}}</td>
                            <td>{{item.value2}}</td>
                            <td>{{item.value3}}</td>
                            <td>{{item.value4}}</td>
                        </tr>
                      </ng-container>
                      <ng-template #thirdContent>
                        <ng-container *ngIf="_reportType==3; else fourthContent">
                          <tr *ngFor="let item of items">
                              <td>{{item.value1}}</td>
                              <td>{{item.value2}}</td>
                              <td>{{item.value3}}</td>
                              <td>{{item.value4}}</td>
                              <td>{{item.value5}}</td>
                          </tr>
                        </ng-container>
                        <ng-template #fourthContent>
                          <ng-container *ngIf="_reportType==4; else fifthContent">
                            <tr *ngFor="let item of items">
                                <td>{{item.value1}}</td>
                                <td>{{item.value2}}</td>
                                <td>{{item.value3}}</td>
                                <td>{{item.value4}}</td>
                                <td>{{item.value5}}</td>
                                <td>{{item.value6}}</td>
                            </tr>
                          </ng-container>
                          <ng-template #fifthContent>
                            <tr *ngFor="let item of items">
                                <td>NO HAY DATA PARA UN REPORTE QUE NO EXISTE</td>
                            </tr>
                          </ng-template>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>
</div>