<app-container>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Registrar Devolucion</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <form [formGroup]="invoiceForm" class="user">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-sm-9 mb-3 mb-sm-0" style="text-align: center;">
                                <label class="form-check-label">Factura del Cliente</label>
                                <input  
                                type="text" 
                                formControlName="noInvoice" 
                                [class.inp-invalid]="invoiceForm.get('noInvoice')?.errors && invoiceForm.get('noInvoice')?.touched" 
                                class="form-control form-control-user" id="exampleFirstName"
                                placeholder="Factura">
                            </div>
                            <div class="col-sm-3 mb-3 mb-sm-0">
                                <label class="form-check-label"></label>
                                <input type="submit" (click)="buscarFactura()" class="btn btn-primary btn-user btn-block" value="Buscar">
                            </div>
                        </div>
                    </div>
                </form>
                <label *ngIf="this.isExistInvoice" style="text-align: center; color: red; margin-bottom: 10px;">La Factura no existe</label>
                <label *ngIf="this.aprovedReturn" style="text-align: center; color: green; margin-bottom: 10px;">Devolucion Aprobada</label>
                <label *ngIf="this.desaprovedReturn" style="text-align: center; color: red; margin-bottom: 10px;">Devolucion Desaprobada F#000000: A pasado mas de una Semana</label>
            </div>
        </div>
    </div>
    
    <div class="card shadow mb-4" *ngIf="this.aprovedReturn">
        <!-- Card Header - Accordion -->
        
        <a (click)="openCont()" class="d-block card-header py-3" 
        [class.collapsed]="!openContent" 
        data-toggle="collapse"
            role="button" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Datos de la Factura #0000000</h6>
        </a>
        <div *ngIf="showMessage == 1" class="alert bg-green alert-primary alert-dismissible" role="alert">
            <button type="button" (click)="showMessage=0" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
        </div>
        <div *ngIf="showMessage == 2" class="alert bg-green alert-warning alert-dismissible" role="alert">
            <button type="button" (click)="showMessage=0" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
        </div>
        <!-- Card Content - Collapse -->
        <div class="collapse" [class.show]="openContent" id="collapseCardExample">
            <div class="card-body">
                <h6 class="m-0 font-weight-normal text-primary">Cliente</h6>
                <div class="card shadow mb-3">
                    <div class="collapse show" id="collapseCardExample">
                        <div class="card-body">
                            <div>
                                <label style="width: 45%;">Nit: {{nitClient}} </label>
                                <label style="width: 45%;">Nombre: {{nameClient}}</label>
                                <label style="width: 45%;">Direccion: {{addressClient}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="m-0 font-weight-normal text-primary">Devoluciones</h6>
                <div class="card shadow mb-4">
                    <div class="collapse show" id="collapseCardExample">
                        <div class="card-body">
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Producto</th>
                                                <th>Precio</th>
                                                <th>Retornar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of detailBills">
                                                <td>{{item[0]}}</td>
                                                <td>{{item[2]}}</td>
                                                <td>{{item[1]}}</td>
                                                <td><app-register-lost (emessage)="setMessage($event)" (typeMessage)="setTypeMessage($event)" (removeIndex)="removeItem($event)" [idBill]="item[3]" [dataReturn]="setData(0,1,item[1],item[0],nitClient,item[2])"></app-register-lost> </td>
                                                <!-- <td><input (click)="setData(0,1,59,'5165165','616516','Sales Assistant')" type="submit" class="btn btn-primary btn-user btn-block" value="Devolver"></td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-hover" width="100%" cellspacing="0">
                                        
                                        <tbody>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td>Total:  </td>
                                                <td>$ {{sumTotal}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- <app-modal class="modal fade" id="furnitureInfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
        [tittle]="'Información mueble'" [action]="'Listo'" [link_action]="'#'">
        <app-furniture-information [id]="selectedId"></app-furniture-information>
    </app-modal> -->

</app-container>
