<input type="submit" (click)="registerLost()" class="btn btn-primary btn-user btn-block" value="Devolver" data-toggle="modal" [attr.data-target]="'#lost'">

<app-modal class="modal fade" id="lost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
[tittle]="'Registrar Perdida'" >
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <form class="user" [formGroup]="returnForm">
                    <div class="card-body">
                        <label class="form-check-label" style="color: blue;">Producto: {{dataReturn.nameProduct}}</label>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0" style="text-align: center;">
                                <label class="form-check-label">Nit Cliente</label>
                                <input 
                                formControlName="nitClient" 
                                type="text" class="form-control form-control-user" id="exampleFirstName" [value]="dataReturn.nitClient" readonly
                                placeholder="NIT">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0" style="text-align: center;">
                                <label class="form-check-label">Codigo Producto</label>
                                <input 
                                formControlName="codeProduct" 
                                type="text" class="form-control form-control-user" id="exampleFirstName"
                                placeholder="Codigo Producto" [value]="dataReturn.codeFurniture" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label class="form-check-label"></label>
                                <input type="submit" (click)="registerLost()" class="btn btn-primary btn-user btn-block" value="Registrar Perdida">
                            </div>
                        </div>
                    </div>
                </form>
                <!-- <label style="text-align: center; color: red; margin-bottom: 10px;">Hp</label> -->
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <!-- <button *ngIf="isEdit==true" type="submit" [disabled]="formGroup.invalid" class="btn btn-warning">Modificar</button>
        <button *ngIf="isEdit!=true" type="submit" [disabled]="formGroup.invalid" class="btn btn-success">Guardar</button> -->
    </div>
</app-modal>

<!-- <div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <form class="user" [formGroup]="returnForm">
                <div class="card-body">
                    <label class="form-check-label" style="color: blue;">Producto: {{dataReturn.nameProduct}}</label>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0" style="text-align: center;">
                            <label class="form-check-label">Nit Cliente</label>
                            <input 
                            formControlName="nitCliente" 
                            type="text" class="form-control form-control-user" id="exampleFirstName" [value]="dataReturn.nitClient" readonly
                            placeholder="NIT">
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0" style="text-align: center;">
                            <label class="form-check-label">Fecha de Devolucion</label>
                            <input 
                            formControlName="date1" 
                            type="date" class="form-control form-control-user" id="exampleFirstName"
                            placeholder="Fecha Inicial">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0" style="text-align: center;">
                            <label class="form-check-label">Codigo Producto</label>
                            <input 
                            formControlName="codeProduct" 
                            type="text" class="form-control form-control-user" id="exampleFirstName"
                            placeholder="Codigo Producto" [value]="dataReturn.codeFurniture" readonly>
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0" style="text-align: center;">
                            <label class="form-check-label">Cantidad</label>
                            <input 
                            formControlName="amount" 
                            type="number" class="form-control form-control-user" id="exampleFirstName" min="{{dataReturn.min}}" max="{{dataReturn.max}}" [value]="dataReturn.amount"
                            placeholder="Cantidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <label class="form-check-label"></label>
                            <input type="submit" (click)="registerLost()" class="btn btn-primary btn-user btn-block" value="Registrar Perdida">
                        </div>
                    </div>
                </div>
            </form>
            <label style="text-align: center; color: red; margin-bottom: 10px;">Hp</label>
        </div>
    </div>
</div> -->