<p *ngIf="furniture!=undefined"><strong>Identificador: </strong>{{furniture.code}}</p>
<p *ngIf="furniture!=undefined"><strong>Nombre: </strong>{{furniture.name}}</p>
<p *ngIf="furniture!=undefined"><strong>Descripcion: </strong>{{furniture.description}}</p>
<p *ngIf="furniture!=undefined"><strong>Precio: </strong>{{furniture.price}}</p>
<p *ngIf="furniture!=undefined"><strong>Costo: </strong>{{furniture.cost}}</p>
<p *ngIf="furniture!=undefined"><strong>En venta: </strong>{{ (furniture.status == 1)? 'Si': 'No'}}</p>